body{
    font-size: 1.4em;
    background-color: rgba(254,247,213,0.29);
}
.ui.inverted.menu .item,
.ui.inverted.menu .item>a:not(.ui){
    color:#F4D2DE;
    font-size: larger;
}
.ui.segment:first-child{
    margin-top:10px;
    margin-bottom: 20px;
    border-style: dashed;
}
.ui.grid>.column:not(.row){
    padding-top: 3rem;
}
.ui.column.grid>[class*="two wide"].column, .ui.grid>.column.row>[class*="two wide"].column, .ui.grid>.row>[class*="two wide"].column, .ui.grid>[class*="two wide"].column{
    margin-top: 1rem;
}
.ui.label>a {
    opacity:20;
}
.ui.segment {
    border-style: dashed;
    border-width: 2px;
    width: 90%;
    margin: auto;
    margin-top: 10px;
}
.title{
    font-size:2em;
}
.ui.table:first-child {
    margin-top: 20px;
}
i.icon:before {
    padding-top: 10px;
    color:#EDA184;
}
.ui.input input {
    width:550px;
}
.ui.grid>.column:not(.row) {
    padding-top :1rem;
}
.ui.tabular.menu .active.item{
    background-color: #EDA184;
}
.ui.tab.active, .ui.tab.open {
    /*background-color: rgba(237,161,132,0.4);*/
}
.ui.segment.hover:hover{
    background-color: rgba(237,161,132,0.4);
}
.ui.grid.segment {
    background-color: rgba(254,247,213,0.4);
}
.ui.grid.segment:hover {
    background-color:  rgba(237,161,132,0.4);
}
.ui.table{
    background-color: rgba(254,247,213,0.4);
}
.ui.segment{
    background-color: rgba(254,247,213,0.4);
}